{% extends "base.html" %}
{% block content %}
<h2>How to Hire A writer</h2>
<p>
We have team of profesional in project writting. for the scope of this site we shall attianed only to nce project<br>
other level can be attianed on negociation on different level. which it price may difer to that of the nce project<br>
work. Below are the steps to follow to hire a writer.</p>
<br>
<br>
Send us an SMS to this number with the heading HIRE WRITER all block letters to 07013445496 Or<br>
Whatsapp us on 07013445496.<br>
<u><strong>NOTE</strong></u>
Calls to the above line are only attianed to from 9:30 am to 4:30pm.
{% endblock content %}
